<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
</head>

<body>
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>

<!-- Section-->
<section class="py-5">
    {% for cat in categories %}
    <a href="{{ cat.url }}" class="fw-bolder">{{ cat.name }} ({{ cat.count }})</a>
    {% endfor %}

<!-- Корзина -->
 <a class="nav-link" href="{% url 'cart' %}">Корзина: {{ cart.products.count }}</a>

    {% block content %}

    <div class="container px-4 px-lg-5 mt-5">
        {% for product in products %}
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <a href="{{ product.get_absolute_url }}"></a> <img class="card-img-top" src="{{ product.image.url }}" alt="..."/>
                    <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                    <h5>{{ product.price }}</h5>
                    <a href="{% url 'add_to_cart' ct_model=product.get_model_name slug=product.slug  %}">
                        <button class="btn btn-danger">добавить в корзину</button>
                    </a>
                </div>
            </div>
        </div>
        <  /div>
        {% endfor %}
    </div>

</section>

{% endblock content %}


<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>
